/*  https://github.com/learnwithparam/logrocket-smart-table/blob/master/src/App.css */

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ededed;
    text-align: center;
}

table tr:last-child td {
    border-bottom: 0;
}

table th{
    margin: 0;
    background-color: #ffffff;
    padding: 0.25rem 0.25rem;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    position: relative;
}

table td {
    margin: 0;
    padding: 0.25rem 0.25rem;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    position: relative;
}

table th:last-child,
table td:last-child {
    border-right: 0;
}

table tr:nth-child(odd) {
    background-color: #fafafa;
}
  
table th::before {
    position: absolute;
    right: 15px;
    top: 16px;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

table th.sort-asc::before {
    border-bottom: 5px solid #22543d;
}

table th.sort-desc::before {
    border-top: 5px solid #22543d;
}
  
.react-table-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.badge {
    background-color: #9ae6b4;
    color: #22543d;
    margin-right: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}


.search {
    position: relative;
}

.search .react-table-input[type=text] {
    text-indent: 32px;
    padding: 6px;
    margin-bottom: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.search .fa-icon {
    position: absolute;
    top: 8px;
    left: 12px;
    
}

.react-table-input[type=number] {
    padding: 4px;
    margin-bottom: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.react-table-pagination {
    padding: 8px;
}